html {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway&display=swap');
}

h4 {
    margin:0;
}
    
a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
}

button {
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;  
    margin: 0;
    width: auto;
    height: auto;
}

header .navbar {
    display:flex;
    flex-direction: column;
    margin-top: 30px;
    gap:30px;
}

header .navbar .logo {
    align-self: center;
}

header .navbar .menu {
display: flex;
flex-direction: column;
gap:15px;
padding: 0;
margin:0;
}

header .navbar .menu .links {
    display: flex;
    justify-content: space-around;
    list-style:none;
 }
 
 header .navbar .menu .links .link_hebergements {
     color:#0065FC;
     text-decoration: none;

 }
 
 header .navbar .menu .links .link_activites {
     color:black;
     text-decoration: none;
 }
 

header .navbar .menu .bars {
    display: flex;
    height:2px;
    width:100%; 
}

header .navbar .menu .bars .left-side {
    height:2px;
    width: 50%;
    background-color: #0065FC;
}

header .navbar .menu .bars .right-side {
    height:2px;
    width:50%;
    background-color: grey;
}

main {
    display:flex;
    flex-direction: column;
    margin-top: 30px;
} 
main .info_group {
    display:flex;
    flex-direction: column;
    gap:35px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 19px;
}

main .info_group .headline .text_0 {
    font-size: 22px;  
}

main .info_group .headline .text_1 {
    font-size: 16px; 
}

main .info_group .container {
    display: flex;
}


main .info_group .container .search-bar {
    display: flex;
    width: 100%; 
    height: 49px;
    
}

main .info_group .container .search-bar input {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    width: 70%;
    border: 1px solid var(--grey, #F2F2F2);
    border-right: transparent;
}

main .info_group .container .search-bar .map {
    background-color: #F2F2F2;
    width: 15%;
    border-radius: 15px; 

}

::placeholder {
    color: black;
}

main .info_group .container .button_search {
display: flex;
background-color: #0065FC;
width: 15%;
border-radius: 15px;
border-color: transparent;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
align-items: center;
justify-content: center;
cursor: pointer;
text-indent: -9999px;
}



main .info_group .filter_bar {
    display: flex;
    flex-direction: column;
}

main .info_group .filter_bar .filter {
    font-size: 18px;
    font-weight: 700;
}

main .info_group .filter_bar .filter_col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    grid-template-areas:
        "item1 item2" "item3 item4";
}

main .info_group .filter_bar .filter_col .button_economique {
    grid-area: item1;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    font-weight: 700;
    background-color: white;   
    height: 50px; 
    cursor: pointer;
}

main .info_group .filter_bar .filter_col .button_familial {
    grid-area: item2;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    font-weight: 700;
    background-color: white; 
    height: 50px;  
    cursor: pointer;
}


main .info_group .filter_bar .filter_col .button_romantique {
    grid-area: item3;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    font-weight: 700;
    background-color: white;  
    height: 50px; 
    cursor: pointer;
}


main .info_group .filter_bar .filter_col .button_pepites {
    grid-area: item4;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    font-weight: 700;
    background-color: white;
    height: 50px;
    cursor: pointer;
}
    





main .info_group .info {
    display: flex;
    align-items: center;
    gap:10px;
}

main .info_group .info .circle_info {
    display: flex;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    border: solid #D9D9D9 1px;
    border-radius: 50% ;
   
}

main .section_populaire {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
}



main .section_populaire .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .section_populaire .container-section {
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    gap:15px;
    
}

main .section_populaire .container-section .container_0,
main .section_populaire .container-section .container_1,
main .section_populaire .container-section .container_2 {
    background-color: white;
    display: flex;  
    gap:15px;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

main .section_populaire .container-section .container_0 .text_container_0,
main .section_populaire .container-section .container_1 .text_container_1,
main .section_populaire .container-section .container_2 .text_container_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
}

main .section_populaire .container-section .price_hotel {
    display: flex;
    flex-direction: column;
    gap:5px;
}

main .section_hebergement {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    margin: 20px;
}

main .section_hebergement .title_hebergement {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .section_hebergement .container-hebergement {
    display: grid;
    grid-template-rows: repeat(6, minmax(0, 1fr));
    gap:15px;   
}

main .section_hebergement .container-hebergement .card {
    background-color: white;
    display: flex;  
    flex-direction: column ;
    width: 100%;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    
}

main .section_hebergement .container-hebergement .container_00 .text_hebergement_0,
main .section_hebergement .container-hebergement .container_01 .text_hebergement_1,
main .section_hebergement .container-hebergement .container_02 .text_hebergement_2,
main .section_hebergement .container-hebergement .container_03 .text_hebergement_3,
main .section_hebergement .container-hebergement .container_04 .text_hebergement_4,
main .section_hebergement .container-hebergement .container_05 .text_hebergement_5 {
    display:flex;
    flex-direction: column;
    padding-top: 4px;
    padding-left:15px;
    padding-right: 15px;
    padding-bottom: 15px;
    gap:8px;
}

main .section_hebergement .text_hebergement_end {
    font-weight: 700;
}


main .section_activites {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    margin: 30px;

}

main .section_activites .title_activites {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .section_activites .container-activites {
    display: grid;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    gap:15px;   
}

main .section_activites .container-activites .container_000,
main .section_activites .container-activites .container_001,
main .section_activites .container-activites .container_002,
main .section_activites .container-activites .container_003 {
    background-color: white;
    display: flex;  
    flex-direction: column ;
    width: 100%;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 20px;

}

main .section_activites .container-activites .container_000 .text_activites_0,
main .section_activites .container-activites .container_001 .text_activites_1,
main .section_activites .container-activites .container_002 .text_activites_2,
main .section_activites .container-activites .container_003 .text_activites_3 {

    padding:20px;
}


main footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    gap:50px;
    padding: 30px;
    margin-top: 35px;
}

main footer .footer_0,
main footer .footer_1,
main footer .footer_2 {
display: flex;
flex-direction: column;
gap:15px;
}

@media (min-width: 1024px) { 

    body {
        margin-left: 50px;
        margin-right: 50px;
    }

    header .navbar {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0;
    }

    header .navbar .logo {
        margin-left: 0;
        margin-top: 30px;
    }

    header .navbar .menu {      
        flex-direction: column-reverse;
        margin-right: 0;
        justify-content: flex-end;
    }
        
    header .navbar .menu .links .link_hebergements {
        padding-right: 50px;   
    }

    header .navbar .menu .bars .right-side {
        background-color: white;
    }

    main {
        gap:50px;
    }

    main .info_group {
        margin: 0;
    }

    main .info_group .container .search-bar input {
        width: 20%;      
    }

    main .info_group .container .button_search {   
        border-radius: 0 15px 15px 0; 
        text-indent: 0;
        color: white;
        }
    
    main .info_group .container .button_search .loupe {
        display: none;
    }

    main .info_group .container .button_search .search_text {
        display: flex;
        color: white;
    }

    main .info_group .filter_bar .filter_col {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    grid-template-areas: "item1 item2 item3 item4";
    width: 75%;  
    }

    .section_group {
        display: flex;
        flex-direction: column;
        gap:50px;
    }
   
    main .section_hebergement {
        order: 1;
        background-color: #F2F2F2;
        padding:30px;
        border-radius: 15px;
        margin: 0;
    }
    
    main .section_hebergement .container-hebergement {
        display: grid;
        grid-template-rows: repeat(2, minmax(0, 1fr));
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    

    main .section_hebergement .container-hebergement .card:nth-child(6) {
            order: 2;
    }

    main .section_populaire {
        order: 2;
        border-radius: 15px;
        padding:30px;
    }

    main .section_populaire .container-section {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr)); 
        grid-template-rows: repeat(1, minmax(0, 1fr));
    }

    main .section_activites {
        order: 3;
    }

    main .section_activites .container-activites {
        grid-template-columns: repeat(4, minmax(0, 1fr)); 
        grid-template-rows: repeat(1, minmax(0, 1fr));
    }


    footer {
        order:4;
    }

    main footer {
        background-color: #F2F2F2;
        display: flex;
        flex-direction: row;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-content: space-around;
    }
 }

 @media (min-width: 1440px) { 
   
    .section_group {
        display: flex;
        flex-direction: row;
        gap:40px;
        width:100%
     
    }

    main .section_hebergement{
        width: 70%;
    }

    main .section_populaire {
        width: 30%;
       
    }

    main .section_populaire .container-section {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr)); 
        grid-template-rows: repeat(3, minmax(0, 1fr));
    }
 }